$color_base: #c60511;
$color_text_primary: #343843;
$color_backgrey: #f1f2f5;
$color_blue: #4e51fe;
$color_parrafo: rgba(0, 0, 0, 0.7);


$color_ftext: #acb1bf;
$color_t2grey: #757e94;
$color_orange: #f6b206;
$light_blue: #8587ff;
