$height_navbar: 93px;
$height_banner_main: 60vh;
$height_banner_blog: 48vh;
$height_banner_home: 90vh;
$with_content: 75vw;
$with_content_movil: 85vw;


//Contadores
$client_counter: 200;
$test_counter: 998;