@import "variables";
@import "colors";
@import "mixins";

.section-card-posts{
    width: $with_content;
    margin: 0 auto 4rem auto;
}

.card-posts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    &__item{
        display: grid;
        grid-auto-flow: row;
        &__img{
            height: 25vh;
            position: relative;
            div{
                border-radius: 10px;
            }
        }
        h4{
            color: $color_text_primary;
            line-height: 115%;
            font-weight: bold;
            font-size: 16px;
        }
    }
}

@include mediaMovil(){
    .section-card-posts{
        width: $with_content_movil;
    }

    .card-posts{
        width: 100%;
        overflow-y: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        &__item{
            width: 80vw;
            scroll-snap-align: center;
            padding-left:1rem;
            &__img{
                height: 20vh;
            }
        }
    }
}