@import "variables";
@import "mixins";

.blog-post-main{
    height: 80vh;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    color: #fff;
    &__item{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 1.5rem;
        padding-right: 0.5rem;
        padding-bottom: 1rem;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 34.59%, rgba(0, 0, 0, 0.6) 77.51%);
        border-radius: 10px;
        h4{
            font-weight: bold;
            margin-bottom: 1rem;
            line-height: 115%;
        }
    }
}
.blog-post__img{
    z-index: -1;
}

.blog-post-1{
    grid-row: 1/ span 2;
    grid-column: 1/2;
    padding-right: 1.5rem;
    h4{
        font-size: 24px;
    }
}
.blog-post-2{
    grid-row: 2/3;
    grid-column: 2/4;
    h4{
        font-size: 18px;
    }
}
.blog-post-3{
    grid-row: 1/2;
    grid-column: 3/4;
    h4{
        font-size: 18px;
    }
}
.blog-post-4{
    grid-row: 1/2;
    grid-column: 2/3;
    h4{
        font-size: 18px;
    }
}

@include mediaMovil(){
    .blog-post-main{
        grid-template-columns: 1fr;
        grid-auto-flow: 1fr 1fr 1fr 1fr;
    }
    .blog-post-1{
        grid-row: 1/ 2;
        grid-column: 1/2;
        h4{
            font-size: 24px;
        }
    }
    .blog-post-2{
        grid-row: 2/3;
        grid-column: 1/2;
        h4{
            font-size: 18px;
        }
    }
    .blog-post-3{
        grid-row: 3/4;
        grid-column: 1/2;
        h4{
            font-size: 18px;
        }
    }
    .blog-post-4{
        grid-row: 4/5;
        grid-column: 1/2;
        h4{
            font-size: 18px;
        }
    }

}
