@import "variables";
@import "mixins";

.container-blog-posts{
  width: $with_content;
  margin: 0 auto;
  position: relative;
  z-index: 20;
  top: -10vh;
}

//<-------------Detalle Post------------->
.container-blog-detalle {
  display: flex;
  flex-direction: column;
  height: auto;
  width: $with_content;
  margin: 0 auto;
}
.post-detalle-1 {
  display: grid;
  grid-template-areas:
    "img titulo"
    "texto";
  gap: 1rem;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 2rem;
}
.post-detalle-2 {
  padding-left: 4rem;
}
.redes-sociales {
  display: flex;
  flex-direction: row;

  h5 {
    padding-right: 1rem;
  }
}
.icon {
  margin-right: 1rem;
  margin-top: 1.1rem;
}
.avatar {
  margin-top: 2rem;
}
.titulo-post {
  font-size: 30px;
  margin-bottom: 3rem;
  grid-area: titulo;
  margin-top: -30rem;
  margin-bottom: 0;
}
.img-detalle {
  grid-area: img;
}
.texto1 {
  align-self: start;
  margin-top: 5rem;
  grid-area: texto;
  margin-top: -25rem;
}
.avatar_detalle {
  margin-bottom: 3rem;
}
.parrafo-1 {
  text-align: start;
  margin-bottom: 1rem;
}
.redes-icon {
  display: flex;
  flex-direction: row;
}
@include mediaMovil() {
  .post-detalle-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $with_content;
    margin: 0 auto;
    margin-top: 41rem;
    margin-bottom: 1rem;
  }
  .post-detalle-2 {
    padding-left: 0;
  }

  .avatar_detalle {
    margin-bottom: 10px;
  }
  .texto1 {
    margin-top: 0;
  }
  .avatar {
    margin-top: 1rem;
  }
  .redes-sociales {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    .redes-icon {
      display: flex;
    }
    h5 {
      padding-right: 1rem;
      margin: 0;
    }
  }
}

//<--------------------------Blog------------------>
.post-container {
  display: grid;
  height: 550px;
  width: $with_content;
  margin: 0 auto;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 1rem;
}

.post-container-2 {
  display: grid;
  height: auto;
  width: $with_content;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 4px;
  margin-bottom: 2rem;
}

.post-container article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: crimson;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 0.5rem;
}

.cotainer-blog {
  // display: grid;
  // grid-template-rows: auto auto auto;
  // gap: 2rem;
  width: $with_content;
  height: auto;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.p {
  font-size: 15px;
  font-weight: 600;
}

.h2 {
  width: $with_content;
  margin: 0 auto;
  font-size: 40px;
  margin-bottom: 1rem;
}

.item-post {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  // justify-content: flex-start;
}

._avatar {
  border-radius: 100%;
  width: 35px;
  height: 35px;
  margin-top: -0.5rem;
}
._avat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -0.8rem;
  h6,
  p {
    margin: 0;
  }
}
.avatar {
  display: flex;
}
.avatar0 {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}
.avatar1 {
  display: flex;
  margin-top: 1rem;
}
.avatar2 {
  display: flex;
  margin-top: 2rem;
}
.avatar3 {
  display: flex;
  margin-top: 0.8rem;
}

.item1 {
  display: flex;
  align-items: flex-start;
  background-image: url("https://placeimg.com/620/490/people");
  grid-row: 1/4;
}
.item2 {
  display: flex;
  align-items: flex-start;
  background-image: url("https://placeimg.com/300/400/people");
  grid-row: 1/3;
}
.item3 {
  display: flex;
  align-items: flex-start;
  background-image: url("https://placeimg.com/305/400/people");
  grid-row: 1/3;
}
.item4 {
  display: flex;
  align-items: flex-start;
  background-image: url("https://placeimg.com/620/200/people");
  grid-column: 2/4;
}

@include mediaMovil() {
  .container-blog-posts{
    width: $with_content_movil;
  }




  .post-container {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: $with_content;
    margin: 0 auto;
    gap: 1rem;
  }

  .post-container-2 {
    width: 100%;
    margin: 1rem auto;

    display: grid;
    grid-auto-flow: column;

    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    overflow-x: scroll;

    .item-post {
      scroll-snap-align: center;
      width: 70vw;
    }
  }

  .h2 {
    width: $with_content;
    margin: 0 auto;
    font-size: 46px;
    margin-bottom: 1rem;
  }
}
