@import 'colors';
@import 'variables';

@media (max-width: 1900px) {
	.container-cards {
		margin: 5rem auto;
		width: $with_content;
		// height: 500px;
		// width: 100vw;
		// height: 500px;

		// display: flex;
		// justify-content: space-evenly;
		// align-items: center;
		// flex-wrap: wrap;

		display: grid;
		grid-template-columns: 251px 251px 251px 251px;
		grid-gap: 1rem;
	}

	h2 {
		margin-top: 0px;
		margin-bottom: 10px;
		font-size: 20px;
	}
	p {
		margin-top: 12px;
		font-size: 15px;
	}
}
.card {
	width: 251px;
	height: 300px;
	padding: inspect($value: 28px);
	border-radius: 8px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	display: grid;
	background-color: white;
}

@media (max-width: 992px) {
	.container-cards {
		width: 80vw;
		height: 800px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
	}
}

@media (max-width: 600px) {
	.container-cards {
		width: 100vw;
		height: 1550px;
		// display: flex;
		// justify-content: space-evenly;
		// align-items: center;
	}
}
