@import 'colors';
@import 'variables';
@import 'mixins';

@media (max-width: 1900px) {
	.container-cardsbennefits {
		margin: 5rem auto;
		width: $with_content;
		display: grid;
		justify-content: space-around;
		grid-template-columns: 251px 251px 251px 251px;
		grid-template-rows: 4rem 13rem;
		grid-gap: 1rem;

		// position: relative;
	}
	.circles {
		position: relative;
		top: 23rem;
		left: 5%;
	}
	h1 {
		grid-column: 1/5;
		grid-row: 1/1;
	}
}
.section-bennefits{
	width: $with_content;
	margin: 2rem auto;
}
.cardbennefits {
	width: 251px;
	height: 230px;
	padding: inspect($value: 28px);
	border-radius: 8px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	display: grid;
	background-color: white;
}

@media (max-width: 992px) {
	.container-cards {
		margin: 1em 1em 2em 9em;
		width: 70vw;
		height: 45em;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
}

@include mediaMovil(){
	.section-bennefits{
		width: $with_content_movil;
	}
	.container-cardsbennefits {
		width: 100%;
		display: grid;
		// grid-auto-flow: column;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows:  1fr;
		justify-content: normal;
		scroll-snap-type: x mandatory;
    	overscroll-behavior-x: contain;
    	overflow-x: scroll;
		// margin: 12em 0em 0em 6em;
		// width: 75vw;
		// height: 50em;
		// display: flex;
		// justify-content: space-between;
		.cardbennefits{
			width: 70vw;
			scroll-snap-align: center;
			margin: 1rem 0;
			.ico-card{
				h1{
					font-size: 30px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	
}
// @media (max-width: 600px) {
// 	.container-cards {
// 		margin: 5em 0em 0em 10em;
// 		width: 50vw;
// 		height: 90em;
// 		display: flex;
// 		justify-content: space-between;
// 	}
// }
