@import 'main';
@import 'mixins';

$height_carousel_how_work:550px;
$height_carousel_how_work_movil:630px;

.carousel-how-work{
    width: 100%;
    height: $height_carousel_how_work;
    display: grid;
    grid-template-columns: 80% 20%;
    margin: 5rem 0 0 0;
    // margin-bottom: 5rem;
    &__content{
        display: grid;
        width: 100%;
        height: 100%;
    }
    &__img{
        display: flex;
        align-items: center;
        position: relative;
        div{
            border-radius: 30px 0px 0px 30px
        }
    }
}

.carousel-item-content{
    width: 100%;
    height: $height_carousel_how_work;
    display: grid;
    grid-template-columns: 65% 35%;
    &__partOne{
        background-color: #4E51FE;
        border-radius: 0px 110px 30px 0px;
        &__circleImg{
            position: absolute;
            top:15%;
            left: 42%;
            z-index: 5;
        }
        &__content{
            display: grid;
            grid-template-columns: 2fr 4fr 3fr;
            color:white;
            height: 550px;
            &__text{
                max-height: $height_carousel_how_work;
                color:white;
                grid-column: 2/3;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                text-align: left;
                h1{
                    line-height: 115%
                }
                p{
                    color: white;
                }
            };
            &__number{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                z-index: 15;
            }
        }
    }
    &__partTwo{
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 5rem 0 2.5rem;
        margin-top: 2rem;
    }
}
.prev-icon{
    position: relative;
    top:9%;
    left: 0;
}
.next-icon{
    position: relative;
    top: 9%;
    left: 20%;
}

@include mediaMovil(){
    .carousel-how-work{
        display: grid;
        grid-template-columns: 100%;
        height: $height_carousel_how_work_movil;
        &__img{
            display: none;
        }
    }
    .carousel-item-content{
        grid-template-columns: 100vw;
        grid-template-rows: 60% 40%;
        grid-gap: 1rem;
        &__partOne{
            border-radius: 0px 80px 30px 0px;
            &__circleImg{
                display: none;
            }
            &__content{
                display: grid;
                grid-template-columns: 4fr 2fr;
                height: 100%;
                padding: 0 2rem;
                &__text{
                    grid-column: 1/2;
                    max-height: 100%;
                    h1{
                        font-size: 35px;
                    }
                }
                &__number{
                    grid-column: 2/3;
                    h1{
                        font-size: 225px;
                        line-height: 0;
                    }
                }
            }
        }
    }
    // .prev-icon{
    //     top:31%;
    //     left: 0.2rem;
    // }
    // .next-icon{
    //     top:31%;
    //     left: -0.2rem;
    // }
}

@include mediaXL(){
    // .prev-icon{
    //     left: 49rem;
    // }

    .carousel-item-content{
        &__partOne{
            &__circleImg{
                left: 45%;
            }
        }
    }
}

@media (min-width: 1700px) {
    // .prev-icon{
    //     left: 52rem;
    // }
}
@media (min-width: 1800px) {
    // .prev-icon{
    //     left: 55rem;
    // }
}

@include mediaXXL(){
    // .prev-icon{
    //     left: 57rem;
    // }

    .carousel-item-content{
        &__partOne{
            &__circleImg{
                left: 48%;
            }
        }
    }
}