@import "colors";
@import "mixins";
@import "variables";

.navbar{
    height:$height_navbar;
    display: flex;
    &__main{
        z-index: 20;
        width:75vw;
        height:$height_navbar;
        background-color:transparent;
        
        position: absolute;
        top:0;
        margin: 0 auto;
        left: 0;
        right: 0;
    
        display: flex;
        &__logo{
            width:43vw;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        &__menu{
            width:57vw;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}

.container-menuList{
    height: 100%;
}

.menuList{
    list-style-type: none;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    &__item{
        height: 100%;
        display: flex;
        align-items: center;

        margin: 0 1rem;
        font-size: 15px;
        font-weight: bold;
        color:rgba(0, 0, 0, 0.7);
    }
}

.btn_five{
    cursor: pointer;
    display: flex;
}

.active_link{
    border-bottom: 3px solid #4E51FE;
}

.line{
    height: 1px;
    width: 10px;
    background-color: black;
}

.btn_menu{
    display: none;
}

@include mediaMovil() {
    .navbar{
        .navbar__main{
            background-color: $color_base;
            width:100vw;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0 1.5rem;
            &__logo{
                width: 150px;
                height: 23px;
            }
        }
    }
    .container-menuList{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menuList{
        display: none;
    }
    .btn_menu{
        display: block;
    }
   
}

//Modal
.modalBody{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    &__description{
        grid-column: 1/2;
        grid-row: 1/3;
        width: 332px;
        margin: 0.5rem auto;
        p{
            font-size: 16px;
        }
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.menu-modal{
    top:80px
}

.triangulo{
    position: relative;
    top:5px;
    left: 150px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 15px solid white;
    border-left: 10px solid transparent;
    z-index: 2000;
}

.modal-backdrop{
    top:92px
}


    
