@import 'colors';
@import 'mixins';
@import 'variables';

.caja {
	// margin: 0 auto 0 auto;
	width: 100%;
	height: 250px;
	background-color: $color_t2grey;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr;

	.f1 {
		height: 125px;
		background-color: $color_backgrey;
		grid-column: 1/2;
		grid-row: 1/1;
	}
	.f2 {
		height: 125px;
		background-color: #343843;
		grid-column: 1/2;
		grid-row: 2/2;
	}
	.slider {
		height: 200px;
		grid-column: 1/2;
		grid-row: 1/3;
	}
}
.slider {
	height: 250px;
	margin: auto;
	position: relative;
	width: $with_content;
	display: grid;
	place-items: center;
	overflow: hidden;
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.slide-track {
	display: flex;
	width: calc(250px * 18);
	animation: scroll 40s linear infinite;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translate(calc(-250px * 9));
	}
}

.logos-continuo {
	height: 200px;
	width: 250px;
	display: flex;
	align-items: center;
	padding: 15px;
}
image {
	width: 100%;
}

@media (max-width: 600px) {
	.slider {
		height: 250px;
		margin: auto;
		position: relative;
		width: 100%;
		display: grid;
		place-items: center;
		overflow: hidden;
		border-radius: 0;
	}
}
