@import 'colors';
@import 'mixins';

.content-slider-cliente {
	width: 100%;
	height: 550px;
	background-color: $color_backgrey;
	border-radius: 100px 100px 0px 0px;
}

.grid-content-slider {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 50px);
}

.pointiz {
	grid-column: 5/6;
	grid-row: 4/6;
}

.pointder {
	grid-column: 8/8;
	grid-row: 4/6;
}

.Texclient {
	display: flex;
	justify-content: center;
	grid-column: 4/10;
	grid-row: 2/3;
	z-index: 15;
}

.comilla1 {
	grid-column: 3/4;
	grid-row: 8/9;
}

.comilla2 {
	grid-column: 10/11;
	grid-row: 9/10;
}

.Carrouselc {
	grid-column: 2/12;
	grid-row: 3/11;
}

.Carrousel {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.carousel-item {
	display: flex;
	flex-direction: column;
	text-align: center;
}
Image.carousel-item {
	position: absolute;
}

.carrousel-main {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	&__avatar {
		width: 298px;
		height: 297px;
		margin: 0 auto;
	}

	&__description {
		margin: 0 11rem;
		position: relative;
		top:-10vh;
		h3 {
			margin-bottom: 0;
		}
		h4 {
			margin-top: 0;
			color: $color_t2grey;
			font-weight: 500;
		}
	}
}

@include mediaMovil(){
	.content-slider-cliente{
		height: 680px;
	}

	.pointiz {
		grid-column: 3/5;
		grid-row: 4/6;
	}

	.pointder {
		grid-column: 9/11;
		grid-row: 4/6;
	}

	.Texclient {
		grid-column: 2/12;
		grid-row: 2/4;
		text-align: center;
		h1{
			margin:0;
		}
	}

	.comilla1 {
		grid-column: 3/5;
		grid-row: 9/11;
	}

	.comilla2 {
		grid-column: 9/11;
		grid-row: 12/13;
	}

	.Carrouselc {
		grid-column: 2/12;
		grid-row: 3/12;
	}

	.carrousel-main {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-content: center;

		&__avatar {
			width: 298px;
			height: 290px;
			margin: 0 auto;
		}
		&__description {
			margin: 0;
			h3 {
				margin-bottom: 0;
			}
			h4 {
				margin-top: 0;
				color: $color_t2grey;
				font-weight: 500;
			}
			p {
				width: 75%;
				display: inline-block;
			}
		}
	}

	//Button next
	.Carrouselc .carousel .carousel-control-next{
		top:4rem;
	}

	.Carrouselc .carousel .carousel-control-prev{
		top:4rem;
	}

}
