@import "variables";
@import "mixins";
@import "colors";

.section-tabs{
    width: $with_content;
    margin: 5rem auto;
    color: $color_text_primary;
    &__container{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background-color: #fff;
        .nav-tabs{
            .nav-item {
                font-weight: bold;
                font-size: 1.5rem;
                color: $color_text_primary;

                background-color: #F1F2F5;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                &.active{
                    border-top: 2px solid #E20613;
                    background-color: #fff;
                }
            }
        }
    }
}

@include mediaMovil(){
    .section-tabs{
        width: $with_content_movil;
        &__container{
            .nav-tabs{
                display: grid;
                grid-auto-flow: column;
                overflow-x: scroll;
                overflow-y: hidden;
                margin-bottom: 0 !important;
                .nav-item{
                    font-size: 18px;
                    text-align: left;
                    line-height: 115%;
                    &.active{
                        border-top: none;
                        border-bottom: 4px solid $color_blue;
                        background-color: #fff;
                    }
                }
            }
    }
}

}